@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>This is a site for players to enter their statistics for competitive Pro Clubs games to keep track of them. This will initially be for myself, expanding to all Venom players. </p>

